<% if user_signed_in? %>
  <div> Currently signed in as <%= current_user.username %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= button_to "Sign In", new_user_session_path %>
<% end %>